/* Minimum desktop screen size should be 375px */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #e5e5e5;
}

.toolbar {
  background-color: #fff;
  padding: 3%;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 30px;
  height: 30px;
}

.menu {
  position: relative;
  margin-top: 3%;
}

/* for the moment it has no display, this will be set on future commits in the project */
.navigation {
  display: none;
}

.headline {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 30% 10% 45% 10%;
  border-bottom-left-radius: 15%;
}

#head {
  background-image:
    url(../images/Ellipse3.png),
    url(../images/Rectangle4.png),
    url(../images/Rectangle6.png),
    url(../images/Ellipse11.png),
    url(../images/Rectangle7.png),
    url(../images/Ellipse5.png),
    url(../images/Ellipse12.png),
    url(../images/Ellipse13.png),
    url(../images/Ellipse4.png),
    url(../images/Rectangle5.png),
    url(../images/Ellipse8.png),
    url(../images/Ellipse14.png),
    url(../images/Ellipse15.png);
  background-position:
    100% 11.5%,
    100% 6%,
    1% 4%,
    1% 7%,
    37% 10%,
    36% 11%,
    90% 71%,
    88% 73.8%,
    67% 90.1%,
    61% 91%,
    60% 6%,
    80% 35%,
    17% 86%;
  background-repeat: no-repeat;
  display: flex;
}

h1 {
  color: #172b4d;
  font-size: 40px;
  margin-bottom: 0;
  display: flex;
}

.resume {
  display: flex;
  margin-top: 12px;
  width: 80%;
  border: 0;
  font-size: 16px;
}

.connect {
  margin-top: 12px;
  margin-bottom: 12px;
  color: #7f8cff;
  font-size: 16px;
}

.personalMedia {
  display: flex;
  list-style-type: none;
}

.media {
  margin-right: 20px;
  margin-top: 12px;
}

/* Minimum desktop screen size should be 768px. this will be changed in the next summits when i make the deskopt */
@media screen and (min-width: 768px) {
  body {
    background-color: black;
  }
}
