/* Minimum desktop screen size should be 375px */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #e5e5e5;
}

.toolbar {
  background-color: #fff;
  padding: 3%;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 30px;
  height: 30px;
}

.menu {
  position: relative;
  margin-top: 3%;
}

/* for the moment it has no display, this will be set on future commits in the project */
.navigation {
  display: none;
}

.headline {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 30% 10% 45% 10%;
  border-bottom-left-radius: 80px;
}

#head {
  background-image:
    url(../images/Ellipse3.png),
    url(../images/Rectangle4.png),
    url(../images/Rectangle6.png),
    url(../images/Ellipse11.png),
    url(../images/Rectangle7.png),
    url(../images/Ellipse5.png),
    url(../images/Ellipse12.png),
    url(../images/Ellipse13.png),
    url(../images/Ellipse4.png),
    url(../images/Rectangle5.png),
    url(../images/Ellipse8.png),
    url(../images/Ellipse14.png),
    url(../images/Ellipse15.png);
  background-position:
    100% 11.5%,
    100% 6%,
    1% 4%,
    1% 7%,
    37% 10%,
    36% 11%,
    90% 71%,
    88% 73.8%,
    67% 90.1%,
    61% 91%,
    60% 6%,
    80% 35%,
    17% 86%;
  background-repeat: no-repeat;
  display: flex;
}

h1 {
  color: #172b4d;
  font-size: 40px;
  margin-bottom: 0;
  display: flex;
}

.resume {
  display: flex;
  margin-top: 12px;
  width: 100%;
  border: 0;
  font-size: 16px;
  color: #344563;
}

.connect {
  margin-top: 12px;
  margin-bottom: 12px;
  color: #7f8cff;
  font-size: 16px;
}

.personalMedia {
  display: flex;
  list-style-type: none;
}

.media {
  margin-right: 20px;
  margin-top: 12px;
}

.works {
  display: grid;
  gap: 6rem;
  padding: 6rem 1.5rem 6rem 1.5rem;
  align-items: center;
}

.card {
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #dfe1e6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.card img {
  padding-bottom: 0;
}

.cardsection {
  padding: 1rem;
}

.cardsection h4 {
  font-size: 36px;
  color: #172b4d;
  font-weight: bold;
}

.company {
  padding-top: 0;
}

.client {
  display: flex;
  list-style-type: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.worktime {
  padding-right: 0.5rem;
}

.worktitle {
  color: #7a869a;
}

.tag {
  font-size: 12px;
  color: #6070ff;
  background-color: #ebebff;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 0.5rem;
}

.cardButton {
  width: 125px;
  height: 55px;
  font-size: 17px;
  border-radius: 10px;
  background-color: #fff;
  color: #396df2;
  border-color: #396df2;
  transition-duration: 0.4s;
}

.cardButton:hover {
  background-color: #6070ff;
  color: white;
}

.aboutMe {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 30% 10% 45% 10%;
  border-top-right-radius: 80px;
}

.aboutMe h2 {
  font-size: 40px;
  font-weight: 700;
  color: #172b4d;
}

.social {
  padding: 10px;
}

.resumeButton {
  width: 160px;
  height: 55px;
  font-size: 17px;
  border-radius: 10px;
  background-color: #fff;
  color: #396df2;
  border-color: #396df2;
}

.resumeButton:hover {
  background-color: #6070ff;
  color: white;
}

.categories {
  list-style-type: none;
  padding: 20px 1px 20px 10px;
}

.atribute {
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 1px 20px 1px;
}

.languaje {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.languaje li {
  display: flex;
  align-items: center;
  background-color: #f7f7f9;
  border-radius: 10px;
  margin-top: 10px;
}

.js {
  padding-right: 155px;
}

.html {
  padding-right: 200px;
}

.css {
  padding-right: 210px;
}

/* Minimum desktop screen size should be 768px. this will be changed in the next summits when i make the deskopt */
@media screen and (min-width: 768px) {
  body {
    background-color: black;
  }
}
