/* Minimum desktop screen size should be 375px */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #e5e5e5;
}

#display_menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #6070ff;
  mix-blend-mode: multiply;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay_content {
  position: fixed;
  z-index: 2;
  padding-top: 3.25rem;
  top: 4%;
  width: 100%;
  text-align: left;
  margin-top: 30px;
}

.overlay_content a {
  padding: 0.1rem 0.1rem 1.3rem 1.75rem;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  line-height: 44px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 3rem;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

/* work popout */

#display_work {
  display: none;
}

.work_overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #c1c7d0;
  mix-blend-mode: multiply;
  overflow-x: hidden;
  transition: 0.5s;
}

.center_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0.1rem 5rem 0.1rem;
}

.center_card ul {
  align-items: center;
}

.cardPop {
  position: fixed;
  z-index: 3;
  background-color: white;
  padding: 0.75rem;
  width: 90%;
  height: 610px;
  overflow: auto;
  border-radius: 10px;
}

.close_work {
  color: #67798e;
  font-size: 2rem;
}

.work_pop_title {
  display: flex;
  justify-content: space-between;
}

.work_pop_title h4 {
  font-size: 36px;
  color: #172b4d;
  font-weight: bold;
}

.cardPop ul {
  display: flex;
  list-style-type: none;
}

.imageWork {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  width: 100%;
  height: auto;
}

.workDetail {
  font-size: 15px;
  color: #344563;
}

.buttonBox {
  display: flex;
  width: 19rem;
  justify-content: space-between;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  border-top: 1px solid #ebecf0;
}

.goButtons {
  width: 140px;
  height: 55px;
  font-size: 17px;
  border-radius: 10px;
  background-color: #fff;
  color: #396df2;
  border-color: #396df2;
  cursor: pointer;
}

.goButtons:hover {
  background-color: #6070ff;
  color: white;
  border-color: none;
  box-shadow: 0.1px 8px 16px rgba(64, 83, 252, 0.24);
}

.goButtons:active {
  background-color: #2230d2;
}

.toolbar {
  background-color: #fff;
  padding: 1rem 3.7rem 0.1px 2.7rem;
  display: flex;
  justify-content: space-between;
  color: #344563;
}

.logo {
  width: 30px;
  height: 30px;
}

.menu {
  position: relative;
  margin-top: 3%;
}

.navigation {
  display: none;
}

.headline {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 30% 10% 45% 10%;
  border-bottom-left-radius: 80px;
}

#head {
  background-image:
    url(../images/Ellipse3.png),
    url(../images/Rectangle4.png),
    url(../images/Rectangle6.png),
    url(../images/Ellipse11.png),
    url(../images/Rectangle7.png),
    url(../images/Ellipse5.png),
    url(../images/Ellipse12.png),
    url(../images/Ellipse13.png),
    url(../images/Ellipse4.png),
    url(../images/Rectangle5.png),
    url(../images/Ellipse8.png),
    url(../images/Ellipse14.png),
    url(../images/Ellipse15.png);
  background-position:
    100% 11.5%,
    100% 6%,
    1% 4%,
    1% 7%,
    37% 10%,
    36% 11%,
    90% 71%,
    88% 73.8%,
    67% 90.1%,
    61% 91%,
    60% 6%,
    80% 35%,
    17% 86%;
  background-repeat: no-repeat;
  display: flex;
}

h1 {
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0;
  display: flex;
}

.resume {
  display: flex;
  margin-top: 12px;
  width: 100%;
  border: 0;
  font-size: 1rem;
  color: #344563;
}

.connect {
  margin-top: 12px;
  margin-bottom: 12px;
  color: #7f8cff;
  font-size: 16px;
}

.personalMedia {
  display: flex;
  list-style-type: none;
}

.media {
  margin-right: 20px;
  margin-top: 12px;
}

.works {
  display: grid;
  gap: 6rem;
  padding: 6rem 1.5rem 6rem 1.5rem;
  align-items: center;
}

.card {
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #dfe1e6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.card img {
  padding-bottom: 0;
}

.cardsection {
  padding: 1rem;
  width: 100%;
  height: auto;
}

.cardsection h4 {
  font-size: 36px;
  color: #172b4d;
  font-weight: bold;
}

.company {
  padding-top: 0;
}

.client {
  display: flex;
  list-style-type: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.worktime {
  padding-right: 0.5rem;
}

.worktitle {
  color: #7a869a;
}

.tag {
  font-size: 12px;
  font-weight: 900;
  color: #6070ff;
  background-color: #ebebff;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 0.5rem;
}

.cardButton {
  width: 125px;
  height: 55px;
  font-size: 17px;
  border-radius: 10px;
  background-color: #fff;
  color: #396df2;
  border-color: #396df2;
  transition-duration: 0.4s;
  cursor: pointer;
}

.cardButton:hover {
  background-color: #6070ff;
  color: white;
  box-shadow: 0.1px 8px 16px rgba(64, 83, 252, 0.24);
}

.cardButton:active {
  background-color: #2230d2;
  color: white;
}

.aboutMe {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 30% 10% 30% 10%;
  border-top-right-radius: 80px;
}

.aboutMe h2 {
  font-size: 40px;
  font-weight: 700;
  color: #172b4d;
}

.social {
  padding: 10px;
}

.resumeButton {
  width: 160px;
  height: 55px;
  font-size: 17px;
  border-radius: 10px;
  background-color: #fff;
  color: #396df2;
  border-color: #396df2;
  cursor: pointer;
}

.resumeButton:hover {
  background-color: #6070ff;
  color: white;
  border-color: none;
  box-shadow: 0.1px 8px 16px rgba(64, 83, 252, 0.24);
}

.resumeButton:active {
  background-color: #2230d2;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 20px 1px 20px 1px;
  position: relative;
  margin-top: 40px;
}

.arrow {
  position: absolute;
  left: 85%;
  top: 48%;
}

.atribute {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.languaje {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.languaje li {
  display: flex;
  align-items: center;
  background-color: #f7f7f9;
  border-radius: 10px;
  margin-top: 10px;
}

.lang {
  padding-right: 20px;
}

.js {
  padding-right: 135px;
}

.html {
  padding-right: 180px;
}

.css {
  padding-right: 190px;
}

.contactMe {
  background-color: #6070ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30% 10% 20% 10%;
  border-top-left-radius: 80px;
  color: white;
}

.contactMe h2 {
  font-size: 40px;
  font-weight: bold;
}

.contact_info {
  margin-top: 12px;
  margin-bottom: 40px;
  font-size: 16px;
  text-align: center;
}

.form_info {
  width: 100%;
  height: 48px;
  margin-bottom: 15px;
  border-radius: 10px;
  border-color: #cfd8dc;
  padding: 15px;
  font-size: 17px;
}

#user_message {
  width: 100%;
  height: 170px;
  border-radius: 10px;
  padding: 15px;
  font-size: 17px;
  margin-bottom: 10px;
}

#class_background {
  background-color: white;
}

#contact_back {
  background-image:
    url(../images/Ellipse1.png),
    url(../images/EllipseC12.png),
    url(../images/RectangleC7.png),
    url(../images/EllipseC5.png),
    url(../images/RectangleC4.png);
  background-position:
    100% 9%,
    44% 8%,
    85% 90%,
    73% 90%,
    100% 4.5%;
  background-repeat: no-repeat;
  display: flex;
}

/* Minimum desktop screen size should be 768px. this will be changed in the next summits when i make the deskopt. */
@media screen and (min-width: 768px) {
  .toolbar {
    padding: 0.1rem 4.35rem 0.1rem 10rem;
  }

  .menu {
    display: none;
  }

  .logo {
    position: relative;
    animation-name: mymove;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  h1 {
    font-size: 48px;
  }

  h1:hover {
    font-size: 60px;
  }

  /* work popup Desktop version */

  .workInfoDesktop {
    display: flex;
  }

  .techLiveSource {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
  }

  .cardPop {
    max-width: 1156px;
    padding-bottom: 3rem;
  }

  .techBox {
    padding: 0.1rem 1rem 0.1rem 0.1rem;
  }

  .toolbar div {
    display: flex;
    align-items: center;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
  }

  .navigation a {
    margin: 30px;
    text-decoration: none;
    color: #344563;
  }

  .headline {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 300px 260px 200px 260px;
    border-bottom-left-radius: 80px;
  }

  .headline p {
    font-size: 20px;
  }

  #head {
    background-image:
      url(../images/des1.png),
      url(../images/Des2.png),
      url(../images/Des3.png),
      url(../images/Des4.png),
      url(../images/Des5.png),
      url(../images/Des6.png),
      url(../images/Des7.png),
      url(../images/Des10.png),
      url(../images/Des8.png),
      url(../images/Des9.png),
      url(../images/Des11.png),
      url(../images/Des12.png),
      url(../images/Des13.png);
    background-position:
      98% 25%,
      92% 12%,
      5% 9%,
      8% 17%,
      48% 18%,
      48% 20%,
      70.5% 83.5%,
      67% 87.8%,
      16% 89%,
      17% 85%,
      65% 8%,
      90% 78%,
      30% 11%;
    background-repeat: no-repeat;
    display: flex;
  }

  .works {
    display: grid;
    gap: 6rem;
    padding-left: 142px;
    padding-right: 142px;
  }

  .oddCard {
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #dfe1e6;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
  }

  .pairCard {
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #dfe1e6;
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
  }

  .cardsection {
    width: 50%;
    height: auto;
  }

  .card img {
    padding-bottom: 1rem;
  }

  .card div {
    padding: 2.5rem;
  }

  .client img {
    padding-bottom: 1px;
  }

  .client li {
    margin-left: 0.1px;
  }

  .aboutMe {
    padding: 8%;
    flex-direction: row;
  }

  .test {
    width: 40%;
    margin-right: 2rem;
  }

  .test1 {
    width: 55%;
  }

  .cardButton {
    margin-top: 1rem;
  }

  .container {
    margin-top: 0.1px;
  }

  .languaje {
    flex-direction: row;
    position: relative;
    animation: mymove 5s infinite;
    animation-direction: alternate;
  }

  .languaje li {
    flex-direction: column;
    width: 120px;
    height: 120px;
    align-items: start;
    margin-left: 1rem;
  }

  .js {
    padding-right: 1px;
  }

  .html {
    padding-right: 1px;
  }

  .css {
    padding-right: 1px;
  }

  .lang {
    padding-bottom: 12px;
  }

  .resumeButton {
    margin-top: 1rem;
  }

  #contact_back {
    background-image:
      url(../images/con1.png),
      url(../images/con2.png),
      url(../images/con3.png),
      url(../images/con4.png),
      url(../images/con5.png),
      url(../images/con6.png),
      url(../images/con7.png),
      url(../images/con8.png);
    background-position:
      5% 50%,
      5% 46.5%,
      20% 90%,
      22% 92%,
      32% 12%,
      85% 65%,
      90% 10%,
      93% 16%;
    background-repeat: no-repeat;
    display: flex;
  }

  .contactMe {
    padding: 8.875rem 20rem 8.875rem 20rem;
  }

  .contact_info {
    width: 32rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form_info {
    width: 30.25rem;
    border-radius: 0.1px;
  }

  #user_message {
    border-radius: 0.1px;
  }
}

@keyframes mymove {
  0% { left: 0.1px; }
  100% { left: 200px; }
}
